<div id="whiteback" class="whiteback">
  <div class="dcheck">
    <h3>確認刪除?</h3>
    <div class="btn-place">
      {{!-- <button class="btn btn-danger" type="submit">確認</button> --}}
      <form class="" action="/admin/restaurant/{{this.id}}?_method=DELETE" method="POST">
        <button class="btn btn-danger" type="submit">確認</button>
      </form>
      <button id="cancel" class="btn btn-success place">取消</button>
    </div>
  </div>
</div>
<div>
  <label>
    <h1 class="text-light bg-dark">admin restaurants</h1>
  </label>
  <a class="btn btn-danger mb-3" href="/admin/restaurant/create">新增餐廳</a>
</div>

<div class="list-group">
  {{#each restaurants}}
  <div class="row">
    <a href="/admin/restaurant/{{this.id}}" class="list-group-item list-group-item-action col-10">
      <h5>{{this.name}}</h5>
      <h4>{{this.Category.name}}</h4>
    </a>
    <div class="col-1 ">
      <a class="btn btn-info" href="/admin/restaurant/{{this.id}}/edit">edit</a>
    </div>
    <div class="col-1 ">
      <a id="delete" class="btn btn-danger" href="{{this.id}}">delete</a>
    </div>

  </div>

  {{/each}}
  {{!-- <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav> --}}
</div>