<a class="btn btn-primary" href="/admin/restaurant">back</a>
<label>
  <h1 class="text-light bg-dark">edit restaurant</h1>
</label>
<div class="card">
  <div class="card-body">
    <form action="/admin/restaurant/{{restaurant.id}}/edit?_method=PUT" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">restaurant name</label>
        <input type="text" class="form-control" name="name" id="name" value="{{restaurant.name}}">
      </div>
      <div class="form-group">
        <label for="tel">tel</label>
        <input type="text" class="form-control" name="tel" id="tel" value="{{restaurant.tel}}">
      </div>
      <div class="form-group">
        <label for="address">address</label>
        <input type="text" class="form-control" name="address" id="address" value="{{restaurant.address}}">
      </div>
      <div class="form-group">
        <label for="opening_hours">opening hours</label>
        <input type="time" class="form-control" name="opening_hours" id="opening_hours"
          value="{{restaurant.opening_hours}}">
      </div>
      <div class="form-group">
        <label for="description">description</label>
        <textarea class="form-control" rows="3" name="description"
          id="description">{{restaurant.description}}</textarea>
      </div>
      <div class="form-group">
        <label for="image">image</label>
        <input type="file" class="form-control-file" name="image" id="image">
      </div>
      <button type="submit" class="btn btn-primary">edit</button>
    </form>
  </div>
</div>