<label>
  <h1 class="text-light bg-dark">admin users</h1>
</label>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Admin</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr class="table-light">
      <th scope="row">{{@index}}</th>
      <td>{{this.email}}</td>
      {{#if this.isAdmin}}
      <td>Admin</td>
      <td>
        <form action="/admin/user/{{this.id}}?_method=PUT" method="POST">
          <button type="submit">set as user</button>
        </form>
      </td>
      {{else}}
      <td>User</td>
      <td>
        <form action="/admin/user/{{this.id}}?_method=PUT" method="POST">
          <button type="submit">set as admin</button>
        </form>
      </td>
      {{/if}}

    </tr>
    {{/each}}
  </tbody>
</table>