<div class="text-center">
  <a class="btn btn-primary mb-3" href="/admin/restaurant">back</a>
  <label>
    <h1 class="text-light bg-dark">detail</h1>
  </label>
</div>

<div class="row">
  <div class="card col-5 text-center mx-auto">
    <img src="{{restaurant.image}}" class="card-img-top" alt="error">
    <div class="card-body">
      <h3 class="card-title">{{restaurant.name}}</h3>
      <div class="card-text mb-4">
        tel:{{restaurant.tel}}<br>
        address:{{restaurant.address}}<br>
        business hours:{{restaurant.opening_hours}}<br>
        description:{{restaurant.description}}<br>
      </div>


      <form action="/admin/restaurant/{{restaurant.id}}?_method=DELETE" method="POST">
        <a class="btn btn-success" href="/admin/restaurant/{{restaurant.id}}/edit">edit</a>
        <button class="btn btn-danger">delete</button>
      </form>
    </div>
  </div>
</div>