<blockquote class="blockquote bg-light">
  <h1>{{restaurant.name}}</h1>
  <h4>{{restaurant.Category.name}}</h4>
  <ul class="list-unstyled">
    <li>瀏覽次數: {{restaurant.clicks}}</li>
    <li>評論數: {{commentNumber}}</li>
    <li>收藏數:</li>
  </ul>
  <a href="/restaurant/{{restaurant.id}}">back</a>
</blockquote>