<div class="bg-light p-2">
  <h1>{{restaurant.name}}</h1>
  <h5>{{restaurant.Category.name}}</h5>
  <div class="row">
    <div class="col-5">
      <img src="{{restaurant.image}}" alt="resImage" style="width: 250px;margin-bottom: 25px;">
      <ul class="list-unstyled">
        <li><strong>tel:</strong>{{restaurant.tel}}</li>
        <li><strong>address:</strong>address:{{restaurant.address}}</li>
        <li><strong>business hours:</strong>business hours:{{restaurant.opening_hours}}</li>
      </ul>
    </div>
    <div class="col-7">
      {{restaurant.description}}<br>

      <a class="btn btn-primary" href="/restaurant/{{restaurant.id}}/popular">dashboard</a>
      {{#if isFavorited}}
      <form action="/user/{{restaurant.id}}/favorite?_method=DELETE" method="POST" style="display: inline;">
        <button class="btn btn-danger">刪除最愛</button></form>
      {{else}}
      <form action="/user/{{restaurant.id}}/favorite" method="POST" style="display: inline;"><button
          class="btn btn-primary">加到最愛</button>
      </form>
      {{/if}}
      {{#if this.isLike}}
      <form action="/cancellike/{{restaurant.id}}?_method=DELETE" method="POST" style="display: inline;"><button
          class="btn btn-danger">Cancel Like</button>
      </form>
      {{else}}
      <form action="/like/{{restaurant.id}}" method="POST" style="display: inline;"><button
          class="btn btn-primary">Like</button>
      </form>
      {{/if}}
    </div>
  </div>

  <h3>所有評論：</h3>
  {{#each restaurant.Comments}}
  <blockquote class="blockquote mb-0">
    <h4><a href="/user/{{this.User.id}}">{{this.User.name}}</a></h4>
    <p>{{this.text}}</p>
    {{#if ../user.isAdmin}}
    <form action="/comment/{{this.id}}?_method=DELETE" method="POST" style="float: right;">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    {{/if}}
    <footer class="blockquote-footer">{{moment this.createdAt}}</footer>
  </blockquote>
  <hr />
  {{/each}}

  <form action="/comment" method="POST">
    <div class="form-group">
      <label for="text">留下評論：</label>
      <textarea class="form-control" id="text" name="text" rows="3"></textarea>
    </div>
    <input type="hidden" name="restaurantId" value="{{restaurant.id}}" />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <a class="btn btn-primary" href="/restaurant">back</a>

</div>