<div class="bg-light p-2">
  <h1>{{restaurant.name}}</h1>
  <h5>{{restaurant.Category.name}}</h5>
  <div class="row">
    <div class="col-5">
      <img src="{{restaurant.image}}" alt="resImage" style="width: 250px;margin-bottom: 25px;">
      <ul class="list-unstyled">
        <li><strong>tel:</strong>{{restaurant.tel}}</li>
        <li><strong>address:</strong>address:{{restaurant.address}}</li>
        <li><strong>business hours:</strong>business hours:{{restaurant.opening_hours}}</li>
      </ul>
    </div>
    <div class="col-7">{{restaurant.description}}</div>
  </div>
  <a class="btn btn-primary" href="/restaurant">back</a>

</div>