<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/restaurant">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurant/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/user/top">美食達人</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurant/top">TOP10 人氣餐廳</a>
  </li>
</ul>
<br />
<label>
  <h1 class="text-light bg-dark"> restaurants</h1>
</label>

<nav class="nav nav-pills bg-light rounded-lg">
  <li class="nav-item">
    <a class="nav-link {{#ifCond '' categoryId}}active{{/ifCond}}" href="?categoryId=">全部</a>
  </li>
  {{#each categories}}
  <li class="nav-item">
    <a class="nav-link {{#ifCond this.id ../categoryId}}active{{/ifCond}}"
      href="?categoryId={{this.id}}">{{this.name}}</a>
  </li>

  {{/each}}
</nav>
<div class="card-group row">
  {{#each restaurants}}
  <div class="col-4">

    <div class="card m-1" style="height: 400px ;width:350px;">
      <a href="/restaurant/{{this.id}}" class="">
        <div class="card-body">
          <img src="{{this.image}}" alt="error" class="card-img-top">
          <h3 class="card-title">{{this.name}}</h3>

          <span class="badge badge-secondary">{{this.Category.name}}</span>
          <p class="card-text">{{this.description}}</p>
        </div>
      </a>
      <div class="card-footer h-10">
        {{#if this.isFavorited}}
        <form action="/user/{{this.id}}/favorite?_method=DELETE" method="POST" style="display: inline;"><button
            class="btn btn-danger">刪除最愛</button>
        </form>
        {{else}}
        <form action="/user/{{this.id}}/favorite" method="POST" style="display: inline;"><button
            class="btn btn-primary">加到最愛</button></form>
        {{/if}}
        {{#if this.isLike}}
        <form action="/cancellike/{{this.id}}?_method=DELETE" method="POST" style="display: inline;"><button
            class="btn btn-danger">Cancel Like</button>
        </form>
        {{else}}
        <form action="/like/{{this.id}}" method="POST" style="display: inline;"><button
            class="btn btn-primary">Like</button></form>
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
</div>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="?page={{prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{#each totalPage}}
    <li class="page-item {{#ifCond this ../page}}active{{/ifCond}}"><a class="page-link"
        href="?page={{this}}">{{this}}</a></li>
    {{/each}}
    <li class="page-item">
      <a class="page-link" href="?page={{next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>