<div class="card">
  <div class="card-body text-center">
    <img src="{{user.avatar}}" alt="vatar" class="card-img-top" style="height: 200px; width:200px;">
    <h1 class="card-title">{{user.name}}</h1>
    <ul class="list-unstyled">
      <li>{{user.email}}</li>
    </ul>
    <a href="/user/{{user.id}}/edit">edit</a>
  </div>
</div>
<div class="card mt-2 mb-2">
  <h5 class="card-header">{{commentNumber}}個已評論</h5>
  <div class="card-body">
    <div class="row bg-light">
      {{#each user.Comments}}
      <div class="col-3">
        <a href="/restaurant/{{this.RestaurantId}}"><img src="{{this.Restaurant.image}}" alt=""
            style="height: 150px; width:150px;"></a>
      </div>
      {{/each}}
    </div>
  </div>
</div>